h1 {
    text-align: center;
}

body {
    margin: 0 0 0 0;
    background-color: black;
}




.container {
    position:relative;

}

#header {
    width: 100%;
    height: 640px;
}
button {
    position: absolute;
    width: 400px;
    font-size: 4em;
    color: rgba(256,256,256,1);
    background: rgba(0,0,0,0.2);
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: sans-serif;
}
#button1 {
    right: 5px;
    top: 5px;
}

#button2 {
    right: 5px;
    top: 87px;
}

#button3 {
    right: 5px;
    top: 168px;
}

#button4 {
     right: 5px;
     top:249px;
 }

#button5 {
    right: 5px;
    top:330px;
}

#button6 {
    right: 5px;
    top:411px;
}

#button7 {
    right: 5px;
    top: 492px;
}

#result {
    top: 10%;
    left: 25%;
    height: 250px;
    position: absolute;
    font-size: 5em;
    color: white;
}

#pic {
    width: 250px;
    height: 300px;
    border:none;
}

#text {
    width: 400px;
    font-size: .3em;
    background: rgba(0,0,0,.5);
}

#title {
    width: 400px;
    font-size: .3em;
    background: rgba(0,0,0,.5);
}


